/* Скидання стилів */
@import url(reset.css);

/* Google Fonts (Plugin) */

@import url("https://fonts.googleapis.com/css?family=Inter:regular,600,700&display=swap");

/* завантажені шрифти */


.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}
